{% extends 'ArduinoBundle::index.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-lg-10">
            <h1>Parameters list</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        {% set parameters = pagerfanta.currentPageResults %}
        {% for parameter in parameters %}
            {% include 'ArduinoBundle:BoolParameters:singleParameterOnList.html.twig'
                with {'parameter': parameter, 'status': manager.parametersLastLog(parameter).value} %}
        {% endfor %}
    </div>

    {% if pagerfanta.count > itemsPerPage %}
        <div class="pagerfanta">
            {{ pagerfanta(pagerfanta, 'twitter_bootstrap3') }}
        </div>
    {% endif %}

{% endblock %}
