{% block form_row %}

    {% if errors|length > 0 %}
        <div class="form-group has-error">
    {% else %}
        <div class="form-group">
    {% endif %}
        <label class="control-label">{{ label }}</label>
        {{ form_widget(form, {'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form) }}
    </div>

{% endblock %}
